---
// data imports
import workExperience from "@/data/Jobs.ts"
import education from "@/data/education.ts"
import languages from "../data/languages.ts"
import hardSkills from "@/data/hardSkills"
import softSkills from "@/data/softSkills"

// component imports
import JobDetails from "./JobDetails.astro";
import EduDetail from "./EduDetail.astro";
import SkillCard from "./SkillCard.astro";

// config import
import {ME} from '@/config';

---

<div class="relative flex flex-col gap-8 text-n800 dark:text-n400 w-full mt-50 px-4">
    {/*Description or About me -- Section*/}
    <div class="mb-4">
        <p>
            {ME.aboutMe}
        </p>
    </div>
    {/*Experiencia*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Experiencia</h2>
        <div class="flex flex-col gap-6">
            {workExperience.map((job) => (
                    <JobDetails jobData={job}/>
            ))}
        </div>
    </div>
    {/*Trayectoria Profesional*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Trayectoria Profesional</h2>
        <div class="flex flex-col gap-6">
            {education.map((edu) => (
                    <EduDetail eduData={edu}/>
            ))}
        </div>
    </div>
    {/*Competencias*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Competencias</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {hardSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={true}/>
            ))}
        </div>
    </div>
    {/*Certificaciones*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Certificaciones</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {softSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={false}/>
            ))}
        </div>
    </div>
    {/*Languages section*/}
    <div class="mb-4">
        <h2 class="text-2xl font-bold mb-4">Languages</h2>
        <div class="flex flex-col gap-2">
            {
                languages.map((lang) => (
                    lang.show ? <p>{lang.name} - {lang.level}</p> : null
                ))
            }
        </div>
    </div>
</div>
